#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar>.toolbar-items {
    opacity: 0;
    pointer-events: none;
    width: 0px !important;
}

#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

:root {
    --tabs-navbar-shadow-size: 0px !important;
}

/* Tab bar */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #navigator-toolbox {
    border: 0px !important;
}

/* Nav bar*/
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #nav-bar {
    background: transparent !important;
    margin-top: -30px !important;
    /*padding-top: 5px !important;*/
    margin-bottom: 5px !important;
    /*margin-left: 40px;*/
    margin-right: 14rem !important;
    /*height: 32px !important;*/
    min-width: 219px !important;
}

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) .titlebar-spacer {
    display: none;
    width: 0 !important;
}

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #sidebar-close {
    display: none;
}

/* URL bar */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #urlbar-container {
    min-width: 100px !important;
}

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #urlbar {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #titlebar {
    height: 40px !important;
}

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #PersonalToolbar {
    background-color: rgb(12, 12, 13) !important;
}

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #PanelUI-button {
    border-inline-start: 0 !important;
}

#sidebar {
  min-width: 100px !important;
  max-width: none !important;
}

/* Indicator */

:root:not([accessibilitymode]) .private-browsing-indicator, .accessibility-indicator {
    margin-inline-start: 0 !important;
}

:root:not([privatebrowsingmode="temporary"]) .accessibility-indicator, .private-browsing-indicator {
    margin-inline-end: 3px !important;
}

#main-window:not([tabsintitlebar="true"]) #sidebar-header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}